doctype
html
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible'
         content='IE=edge')
    meta(name='viewport'
         content='width=device-width, initial-scale=1')

    // Title
    title Examples &middot; WaveUI

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons')

    // Stylesheets
    // bower:css
    link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
    // endbower
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='style.css')
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='../dist/css/wave.css')

    style.
      .card,
      .btn,
      .btn-group,
      .input-group,
      .alert,
      .label,
      .badge,
      .progress {
        margin:  20px;
      }

      .navbar .btn,
      .btn-group .btn,
      .modal .btn,
      .card .btn {
        margin: 0;
      }

      .input-group {
        max-width: 300px;
      }

  body

    .navbar
      .container: .row: .col.col-12
        .navbar-inner
          a.brand(href='') WaveUI
          nav.nav: ul
            li: a.active(href='#'
                         ripple='true'
                         ripple-color='#000') Home
            li: a(href='#'
                  ripple='true'
                  ripple-color='#000') Getting Started
            li: a(href='#'
                  ripple='true'
                  ripple-color='#000') Blog
            li: a(href='#'
                  ripple='true'
                  ripple-color='#000') Contact

    .navbar
      .container: .row: .col.col-12
        .navbar-inner
          a.brand(href='') WaveUI
          nav.nav: ul
            li: a.active(href='#') Home
            li: a(href='#') Getting Started
            li: a(href='#') Blog
            li: a(href='#') Contact

    .navbar
      .container: .row: .col.col-12
        .navbar-inner
          a.brand(href='') WaveUI
          nav.nav(flex-grow='2'
                  justify-content='space-between')
            ul
              li: a.active(href='#') Home
              li: a(href='#') Getting Started
              li: a(href='#') Blog
              li: a(href='#') Contact
            ul
              li: a.btn.btn-primary.nav-btn(ripple=''
                                            ripple-color='#fff') Cart
                span.badge 1

    .navbar
      .container: .row: .col.col-12
        .navbar-inner(flex-direction='column'
                      justify-content='center')
          a.brand(href='') WaveUI
          nav.nav(flex-grow='2')
            ul
              li: a.active(href='#') Home
              li: a(href='#') Getting Started
              li: a(href='#') Blog
              li: a(href='#') Contact

    .navbar
      .container: .row: .col.col-12
        .navbar-inner(flex-direction='column'
                      align-items='flex-start')
          a.brand(href='') WaveUI
          nav.nav(flex-grow='2')
            ul
              li: a.active(href='#') Home
              li: a(href='#') Getting Started
              li: a(href='#') Blog
              li: a(href='#') Contact

    .navbar
      .container: .row: .col.col-12
        .navbar-inner(flex-direction='column'
                      align-items='flex-end')
          a.brand(href='') WaveUI
          nav.nav(flex-grow='2')
            ul
              li: a.active(href='#') Home
              li: a(href='#') Getting Started
              li: a(href='#') Blog
              li: a(href='#') Contact

    .btn-group
      button(class='btn btn-primary'
             type='button'
             ripple=''
             ripple-color='#000'
             modal='true'
             modal-id='modal-1') Modal Trigger
      button(class='btn btn-primary'
             type='button'
             ripple=''
             ripple-color='#000') Button

    .btn-group
      button(class='btn btn-primary'
             type='button'
             ripple=''
             ripple-color='#000') Button
      button(class='btn btn-primary'
             type='button'
             ripple=''
             ripple-color='#000') Button
      button(class='btn btn-primary'
             type='button'
             ripple=''
             ripple-color='#000') Button

    .input-group
      input.input(type='text'
                  required)
      label.input-group-label Input Field
      span.input-group-border

    .input-group
      input.input(type='text'
                  disabled=''
                  required)
      label.input-group-label Disabled
      span.input-group-border

    .input-group.input-group-success
      input.input(type='text'
                  required)
      label.input-group-label Input Field
      span.input-group-border

    .card.card-primary
      .card-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

    .card.card-primary
      .card-header Card Header
      .card-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

    .card.card-success
      .card-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .card-footer(flex=''
                   justify-content='flex-end')
        button(class='btn btn-link btn-block'
               type='button'
               ripple=''
               ripple-color='#fff') Close

    .card.card-warning
      .card-header Card Header
      .card-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .card-footer(flex=''
                   justify-content='flex-end')
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Disagree
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Agree

    .card
      .card-header Card Header
      .card-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .card-footer(flex=''
                   justify-content='flex-end')
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Disagree
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Agree

    span.label Label
    span.label 1

    span.label.label-primary Label
    span.label.label-primary 1

    span.badge Label
    span.badge 1

    span.badge.badge-primary Label
    span.badge.badge-primary 1

    .progress
      .progress-bar(style='width: 60%'
                    animated='true'
                    text-align='right')
        span 60%
    .progress
      .progress-bar.progress-bar-primary(style='width: 60%')
        span 60%
    .progress
      .progress-bar.progress-bar-primary(style='width: 1%')
        span 1%

    .progress
      .progress-bar.progress-bar-primary(style='width: 60%')

    .progress
      .progress-bar.progress-bar-primary(style='width: 1%')

    .progress
      .progress-bar(style='width: 60%')

    div(class='alert')
      b Warning!
      |  Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

    div(class='alert alert-info')
      b Warning!
      |  Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

    ul(class='list-unstyled')
      li List Item 1
      li(class='active') List Item 2
      li List Item 3

    ul(class='list-inline')
      li List Item 1
      li(class='active') List Item 2
      li List Item 3

    p.lead Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam.

    p Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam.

    ul
      li List Item 1
      li(class='active') List Item 2
      li List Item 3

    ol
      li Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      li(class='active') List Item 2
      li List Item 3

    blockquote Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

    button(class='btn'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-link'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-primary'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-info'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-success'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-warning'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-danger'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-danger'
           type='button'
           disabled=''
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-danger btn-block'
           type='button'
           ripple=''
           ripple-color='#000') Button
    button(class='btn btn-danger btn-block'
           type='button'
           ripple=''
           ripple-color='#000') Button

    button(class='btn btn-info'
           type='button'
           elevated='true'
           ripple=''
           ripple-color='#000') Button

    .modal#modal-1(modal-animation='scaleDown')
      .modal-header Card Header
      .modal-body Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .modal-footer(flex=''
                   justify-content='flex-end')
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Disagree
        button(class='btn btn-link'
               type='button'
               ripple=''
               ripple-color='#fff') Agree

    // JavaScript
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    script(src='../dist/js/wave.js')